# Virtual environment folders
venv/
myvenv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# IDE/project settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Build and dist folders
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak
*.swp
